<div class="container">
    <div class="row text-center">
        <h1>Metodo de congruencia multiplicativa</h1>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="input-group">
                <span class="input-group-text">X0</span>
                <input type="number" class="form-control" min="0" [(ngModel)]="x0" />
            </div>
            <div class="input-group">
                <span class="input-group-text">t </span>
                <input type="number" class="form-control" min="0" (change)="getA()" [(ngModel)]="t" />
            </div>
            <div class="input-group">
                <span class="input-group-text">g</span>
                <input type="number" class="form-control" min="0" (change)="getM()" [(ngModel)]="g" />
            </div>
        </div>

        <div class="col">
            <div class="input-group">
                <span class="input-group-text">Minimo</span>
                <input type="number" class="form-control" min="0" [(ngModel)]="min" />
            </div>
        </div>

        <div class="col">
            <div class="input-group">
                <span class="input-group-text">Maximo</span>
                <input type="number" class="form-control" min="0" [(ngModel)]="max" />
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text">Cantidad</span>
                <select class="form-select" [(ngModel)]="cantidad">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="100">100</option>
        </select>
            </div>
        </div>

        <div class="col">
            <button class="btn btn-info" (click)="generar()">Generar</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            <p><strong>x0: </strong> {{ x0 }}</p>
            <p><strong>t: </strong> {{ t }}</p>
            <p><strong>g: </strong> {{ g }}</p>
            <p><strong>a= 8t + 3: </strong> {{ a }}</p>
            <p><strong>m = 2 ^ g: </strong> {{ m }}</p>
            <p><strong>Minimo: </strong> {{ min }}</p>
            <p>
                <Strong>Maximo: </Strong> {{ max }}</p>
            <p>
                <Strong>Cantidad: </Strong> {{ cantidad }}</p>
        </div>

        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">i</th>
                        <th scope="col">Xi</th>
                        <th scope="col">Ri</th>
                        <th scope="col">Ni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaNumeros; let i = index">
                        <th>{{ i + 1 }}</th>
                        <td>{{ item.xi }}</td>
                        <td>{{ item.ri }}</td>
                        <td>{{ item.ni }}</td>
                        <td>{{ item.validate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>