<br />

<h1>Prueba poker 5</h1>
<p>La prueba poker 5 evalua <strong>no coorelacion serial</strong> de los números pseaudo aleatorios que ha ingresado</p>

<div class="row">
    <div class="col">
        <button class="btn btn-info" (click)="iniciar()">Ejecutar prueba poker 5</button>
        <div class="row ">
            <div class="col-auto">
                <div class="lds-ring" *ngIf="isLoad">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div *ngIf="mostrar">
                    <div class="valid" *ngIf="isValid">
                        <h2> Los números han pasado la prueba Poker 5! 😁👌</h2>

                    </div>

                    <div class="invalid" *ngIf="!isValid">
                        <h2> Los números no pasaron la prueba Poker 5! 😥😖</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <h3>Chi2 : {{objetoTabla.chi2}}
        </h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Cat</th>
                    <th scope="col">Oi</th>
                    <th scope="col">Prob</th>
                    <th scope="col">Ei</th>
                    <th scope="col">Val</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of objetoTabla.details">
                    <td>{{ item.cat }}</td>
                    <td>{{ item.Oi }}</td>
                    <td>{{ item.prob }}</td>
                    <td>{{ item.Ei }}</td>
                    <td>{{ item.val }}</td>


                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">

    <br />