<br />

<h1>Prueba Chi^2</h1>
<p>La prueba Chi^2 mide la <strong>uniformidad</strong> de los números pseaudo aleatorios que ha ingresado</p>

<div class="row">
    <div class="col">
        <div class="input-group">
            <span class="input-group-text"> α </span>
            <input type="number" value="0.05" step="0.01" class="form-control" min="0" max="1" [(ngModel)]="alpha" />
        </div>
    </div>
    <div class="col">
        <div class="input-group">
            <span class="input-group-text"> Numero intevalos</span>
            <input type="number" value="10" step="1" class="form-control" min="5" max="20" [(ngModel)]="numinter" />
        </div>
    </div>

    <div class="col">
        <button class="btn btn-info" (click)="iniciar()">Ejecutar prueba chi ^2 </button>
    </div>
</div>

<div class="row">

    <br />
    <div class="row ">
        <div class="col-auto">
            <div class="lds-ring" *ngIf="isLoad">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div *ngIf="mostrar">
                <div class="valid" *ngIf="isValid">
                    <h2> Los números han pasado la prueba de medias! 😁👌</h2>

                </div>

                <div class="invalid" *ngIf="!isValid">
                    <h2> Los números no pasaron la prueba de medias! 😥😖</h2>
                </div>
            </div>

        </div>
    </div>