<div class="home">
    <h1>Taller N°1</h1>
    <h2>Metodos de generación de números pseudoaleatorios</h2>
    <ul>
        <h3>Realizar un conjunto de programas que:</h3>


        <li>Sistematice los siguientes métodos: Cuadrados Medios, métodos congruenciales, métodos por distribución uniforme y normal</li>
        <li>Implemente alguna interfaz gráfica para el desarrollo en cuestión, mostrando las entradas, procedimientos y gráficos de las funciones.</li>
        <li>Incluya menús que permitan la implementación de intervalos, periodos de números y demás datos necesarios para la generación pseudoaleatoria, según las particularidades de cada uno de los métodos.</li>

    </ul>


    <h2>Pruebas a números pseudoaleatorios</h2>
    <ul>
        <h3>Realizar un conjunto de programas que:</h3>


        <li>Sistematice los siguientes métodos: prueba de medias, prueba de varianza, prueba KS, Prueba Chi 2 y prueba de Póker</li>
        <li>Implemente alguna interfaz gráfica para el desarrollo en cuestión, mostrando las entradas, procedimientos y gráficos de las funciones.</li>
        <li>Incluya menús que permitan la implementación de intervalos, periodos de números y demás datos necesarios para la generación pseudoaleatoria, según las particularidades de cada uno de los métodos.</li>

    </ul>
    <br>
    <pre>
        oscar esteban quiroz lópez
        jhon edison ridriguez maldonado
    </pre>

</div>