<div class="row">
    <div class="col-2">
        <div class="list-group list-group-flush">
            <a routerLink="/metodos/cuadrados-medios" routerLinkActive="active" class="list-group-item list-group-item-action  ">Cuadrados medios</a>
            <a routerLink="/metodos/cuadrados" routerLinkActive="active" class="list-group-item list-group-item-action ">A second link item</a>
            <a routerLink="/metodos/cuadrados-medios" class="list-group-item list-group-item-action">A third link item</a>
            <a routerLink="/metodos/cuadrados-medios" class="list-group-item list-group-item-action">A fourth link item</a>
        </div>
    </div>
    <div class="col">
        <router-outlet></router-outlet>

    </div>
</div>