<div class="row">
    <div class="col-2">
        <div class="list-group list-group-flush">
            <a routerLink="/metodos/cuadrados-medios" routerLinkActive="active" class="list-group-item list-group-item-action">Cuadrados medios</a
      >
      <a
        routerLink="/metodos/multiplicativa"
        routerLinkActive="active"
        class="list-group-item list-group-item-action"
        >Congruencia multiplicativa</a
      >
      <a
        routerLink="/metodos/lineal"
        class="list-group-item list-group-item-action"
        >Congruencial lineal</a
      >
      <a
        routerLink="/metodos/uniforme"
        class="list-group-item list-group-item-action"
        >Distribucion uniforme</a
      >
      <a
        routerLink="/metodos/normal"
        class="list-group-item list-group-item-action"
        >Distribucion normal</a
      >
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>