<div class="row">
    <div class="col-4">
        <div class="flex">
            <button class="cargar">
        cargar números
        <input
          name="inputFile"
          [(ngModel)]="inputFile"
          required
          id="file"
          type="file"
          accept=".txt"
          (change)="leerArchivo($event)"
        />
      </button>
            <p class="fileMatrix" [ngClass]="ok">{{ auxInputFile }}</p>
        </div>

        <h4>Cantidad de números : {{ lsita.length}}
        </h4>

    </div>
    <div class="col-8">
        <div class="grid-container">
            <div *ngFor="let item of lsita">{{ item | slice: 0:7 }}</div>
        </div>
    </div>
</div>

<hr>
<br>

<div class="row">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a routerLink="/pruebas/prueba-medias" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Prueba medias</a>
        </li>
        <li class="nav-item">
            <a routerLink="/pruebas/prueba-varianza" routerLinkActive="active" class="nav-link" href="#">Prueba varianza</a>
        </li>
        <li class="nav-item">
            <a routerLink="/pruebas/pruebachi2" routerLinkActive="active" class="nav-link" href="#">Prueba chi^2</a>
        </li>
        <li class="nav-item">
            <a routerLink="/pruebas/prueba-ks" routerLinkActive="active" class="nav-link" href="#">Prueba K-S</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">pruebas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">pruebas</a >
        </li> -->
  </ul>
  <router-outlet></router-outlet>
</div>