<div class="row">
    <div class="col-2">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Pruebas</a>
            <a href="#" class="list-group-item list-group-item-action">Pruebas</a>
            <a href="#" class="list-group-item list-group-item-action">Pruebas</a>
            <a href="#" class="list-group-item list-group-item-action">Pruebas</a>
        </div>
    </div>

    <div class="col-4">
        <div class="flex">
            <button class="cargar">
        cargar números
        <input
          name="inputFile"
          [(ngModel)]="inputFile"
          required
          id="file"
          type="file"
          accept=".txt"
          (change)="leerArchivo($event)"
        />
      </button>
            <p class="fileMatrix" [ngClass]="ok">{{ auxInputFile }}</p>
        </div>
    </div>
    <div class="col-6">
        <div class="grid-container">
            <div *ngFor="let item of lsita">{{ item }}</div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>