.flex {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.validate {
    background-color: rgb(28, 221, 147);
}

.cargar {
    position: relative;
    width: 290px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    border: 5px solid #000;
    outline: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;
}

.cargar:hover {
    border: 5px solid #fff;
    background-color: #000;
    color: #fff;
}

.fileMatrix {
    width: 290px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color: black;
    padding: 2px;
    width: auto;
}

.grid-container>div {
    height: 30px;
    background-color: white;
    text-align: center;
}